
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/LayoutAdmin/_LayoutAdmin.cshtml";
}
<style>
    .btncreate {
        background-color: #F78181;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        color: white;
    }
</style>
<script>
    function validateCreate() {
        var x = document.forms["myForm"]["TenSP"].value;
        var y = document.forms["myForm"]["MoTa"].value;
        var z = document.forms["myForm"]["MaLoai"].value;
        //var g = document.forms["myForm"]["author"].value;
        var h = document.forms["myForm"]["GioiTinh"].value;
        var j = document.forms["myForm"]["DonGia"].value;
        var k = document.forms["myForm"]["SoLuong"].value;
        var l = document.forms["myForm"]["TrangThai"].value;

        if (x == "" || y == "" || z == "" || g == "" || h == "" || j == "" || k == "" || l == "") {
            alert("Vui lòng điền đầy đủ thông tin sản phẩm trước khi tạo !");
            return false;
        }
    }

</script>
<h4 style="font-family:"Open Sans", Arial, sans-serif;">Thêm Sản Phẩm</h4>
<hr />

<form action="/AdminCRUD/Tao" method="post" name="myForm">
    <div class="context">
        <div class="text_left">
            <p style="font-weight:bold;font-size:20px;">Thông tin sản phẩm</p>
            <br />


            <table class="table_A">
                <tr>
                    <td>

                        <input type="text" name="TenSP" placeholder="Tên sản phẩm">

                    </td>

                </tr>
                <tr>
                    <td><input type="text" name="MoTa" placeholder="Mô tả" /></td>
                </tr>
                <tr>
                    <td>
                        @Html.DropDownList("MaLoai", (IEnumerable<SelectListItem>)ViewBag.LoaiSPList, "Chọn loại sản phẩm", new { @class = "dropdown" })
                    </td>
                </tr>

                @*<tr>
            <td> @Html.DropDownList("author", (IEnumerable<SelectListItem>)ViewBag.AuthorList, "Chọn tác giả", new { @class = "dropdown" })</td>
                </tr>
                
                     <tr>
                <td>@Html.DropDownList("GioiTinh", (IEnumerable<SelectListItem>)ViewBag.PubList, "Chọn nhà xuất bản", new { @class = "dropdown" })</td>
                     </tr>*@

                <tr>
                    <td>
                        <select class="dropdown" name="GioiTinh">
                            <option value="Nam">Nam</option>
                            <option value="Nu">Nữ </option>
                            <option value="Ca Hai"> Cả hai</option>
                        </select>
                    </td>

                </tr>

                <tr>
                    <td><input type="text" name="DonGia" placeholder="Giá bán" /></td>
                </tr>
                <tr>
                    <td><input type="text" name="SoLuong" placeholder="Số lượng" /></td>
                </tr>

                <tr>
                    <td>
                        <select class="dropdown" name="TrangThai">
                            <option value="Con Hang">Còn Hàng</option>
                            <option value="Het Hang">Hết Hàng</option>
                            <option value="Trung Bay">Trưng Bày</option>
                        </select>
                    </td>

                </tr>

            </table>
            <br />

            <div>
                <a href="@Url.Action("Index","AdminCRUD")" class="btncreate"> Quay Lại</a>

                <input type="submit" class="btncreate" onclick="return validateCreate()" style="width:165px; background-color:#74DF00" value="Tạo Sản Phẩm" />



            </div>
        </div>
        <div class="text_right">

            <img id="pictureUpload" width=60% height="250px" />
            @section upload
  {S
                <script>
                    $(function () {
                        //đăng ký sự kiện click nút btnUpload
                        $('#btnUpload').click(function () {
                            $('#fileUpload').trigger('click');

                        });
                        // Bắt sự kiện change data của file Upload
                        $('#fileUpload').change(function () {
                            //Kiểm tra trình duyệt có hỗ trợ FormData object không.
                            if (window.FormData !== undefined) {
                                //lấy dữ liệu trên fileUpload
                                var fileUpload = $("#fileUpload").get(0);
                                var files = fileUpload.files;
                                //tạo đối tượng formdata
                                var formData = new FormData();
                                //đưa dữ liệu vào form
                                formData.append('file', files[0]);
                                $.ajax(
                                    {
                                        type: 'POST',
                                        url: '/AdminCRUD/ProcessUpload',
                                        contentType: false,
                                        processData: false,
                                        data: formData,
                                        success: function (urlImage) {
                                            $('#pictureUpload').attr('src', urlImage);
                                            $('#picture').val(urlImage);

                                        },
                                        error: function (err) {
                                            alert('co loi khi upload:' + err.statusText);
                                        }
                                    });

                            }
                        });
                    });
                </script>

            }
            <br />
            <br />
            <div class="from-inline">
                <input type="text" name="picture" id="picture" style="display:none;" />
                <input type="file" id="fileUpload" name="fileUpload" style="display:none;" />
                <input type="button" id="btnUpload" value="Chọn hình" class="btn_Choose" />
            </div>
        </div>

    </div>
</form>



